

            <div class="menu_haut">
              <ul>
                <li><a href="/vip">VIPS</a></li>
                <li class="traitVertical"><a href="/photo">PHOTO</a></li>
              </ul>
            </div>
            <div id="contenu">
                <br/>
                <br/>
                <div style="width: 100%; display:flex;">
                    <div id='menu_admin_vip' style="width: 20%;">
                        <div style='width:100%;width:50%;border-radius:1em 1em 0em 0em; border:1px solid black; background-color:black'>
                            <img src="/images/photos.png" alt="VIPs" />
                        </div>
                        <div style="width:50%;border:1px solid white;background-color:black;height:3.5em;display:flex;align-items:center; justify-content:center;">
                                <a href='/ajoutPhoto' style='color:white; text-decoration:underline;'>AJOUTER</a>
                        </div>
                        <div style="width:50%;border:1px solid white;background-color:black;height:3.5em;display:flex;align-items:center; justify-content:center;">
                                <a href='/suppPhoto' style='color:white; text-decoration:underline;'>SUPPRIMER</a>
                        </div>  

                    </div>

                    <div id='ajout_vip'style='width:80%'>
                        {{#if msg}}
                            <p>{{this.msg}}</p>
                            <form action='/ajoutVip' class='form' method='POST' >
                                <input type='submit' name='input_ajout_vip' value='Continuer'>
                            </form>
                        {{else}}
                            {{#if vips}}
                                <fieldset style='width:100%'>
                                    <legend style="text-align: left;">Ajout VIPs</legend>
                                    <form action='/ajoutPhoto' class='form' method='POST' >
                                        <table style='text-align:left;'>
                                            <tr>
                                                <td><label for='nom_vip'>Nom du vip :</label> </td>
                                                <td>
                                                    <select name="id_vip">
                                                            {{#each vips}}
                                                                <option value="{{this.VIP_NUMERO}}">{{this.VIP_NOM}} {{this.VIP_PRENOM}}</option>
                                                            {{/each}}
                                                        </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label for='photo_vip'>Adresse de la photo :</label> </td>
                                                <td><input type='file' name='photo_vip' accept="image/png, image/jpeg"></td>
                                            </tr>
                                            <tr>
                                                <td><label for='sujet_photo'>Titre :</label> </td>
                                                <td><input type='text' name='sujet_photo'></td>
                                            </tr>
                                            <tr>
                                                <td><label for='com_photo'>Un petit commentaire ? </label> </td>
                                                <td><input type='text' name='com_photo'></td>
                                            </tr>
                                            <tr>
                                                <td><input type='submit' name='input_ajout_vip' value='Ajouter le vip'></td>
                                            </tr>
                                        </table>
                                    </form>
                                </fieldset>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>  